section.section.post
	.section__in.post__in
		ul.post__list
			- 
				list = [
					{
						mod: 'xl_pic',
						picture: true,
						class: 'post__img',
						customClass: 'post__img_in',
						png: true,
						img: 'post_1_xl',
						chapter_mod: 'bg_blue',
						author: 'Владимир Мищенко', 
						chapter: 'Здравоохранение',
						title_size: 's_up',
						title: 'Противостояние кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении', 
						date: '00 окт 2020', 
						time: '~ 6 мин'
					},{
						mod: 's',
						chapter_mod: 'blue', 
						chapter: 'Государственный сектор',
						chapter_icon: true,
						title_size: 's',
						title: 'Правительство Великобритании инвестировало 40 млн. фунтов стерлингов в цифровые сервисы в целях улучшения кибербезопасности', 
						date: '00 окт 20', 
						time: '~ 1 мин'
					},{
						mod: 's',
						chapter_mod: 'navy_blue', 
						chapter: 'Страхование',
						chapter_icon: true,
						title_size: 's',
						title: 'Страховая компания Berkshire Hathaway (BHHC) использует аналитическое решение CLARA для выплат компенсаций', 
						date: '00 окт 20', 
						time: '~ 1 мин'
					},{
						mod: 's',
						chapter_mod: 'blue', 
						chapter: 'Здравоохранение',
						chapter_icon: true,
						title_size: 's',
						title: 'Компания EchoNous создала KOSMOS AI – прибор для диагностики пациентов прямо в больничной палате', 
						date: '00 окт 20', 
						time: '~ 1 мин'
					},{
						mod: 's',
						chapter_mod: 'red', 
						chapter: 'Телекоммуникации',
						chapter_icon: true,
						title_size: 's',
						title: 'BearingPoint продлила соглашение с инкубатором телекоммуникационной группы Telefonica, компанией Wayra', 
						date: '00 окт 20', 
						time: '~ 1 мин'
					},{
						mod: 'hor_m_inner',
						picture: true,
						class: 'post__img',
						customClass: 'post__img_in',
						png: true,
						img: 'post_1_m',
						content_inner: true, 
						content_chevron: 'new!',
						text: '<span class="accent">Digital transformation</span><br><span>по-украински</span>',
						inner_author: 'Юрий Чубатюк', 
						link: 'Смотреть',
					},{
						mod: 'vert_m_text',
						chapter_mod: 'blue', 
						chapter: 'Здравоохранение',
						author: ' Пётр Ванькин', 
						title_size: 's',
						title: 'Противостояние кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении',
						descr: 'Решение дает возможность обеспечить комплексную, надежную защиту ИТ-инфраструктуры и регулирует уровень технических нагрузок с полным охватом разных цифровых систем', 
						date: '00 окт 20', 
						time: '~ 1 мин'
					},{
						mod: 's',
						chapter_mod: 'orange', 
						chapter: 'Транспорт и логистика',
						chapter_icon: true,
						title_size: 's',
						title: 'Служба доставки еды Foodora Canada заключила партнерские отношения с производителем роботов-курьеров Tiny Mile', 
						date: '00 окт 20', 
						time: '~ 1 мин'
					},{
						mod: 's',
						chapter_mod: 'green', 
						chapter: 'Транспорт и логистика',
						chapter_icon: true,
						title_size: 's',
						title: 'BL Bank использует технологии для создания новых источников дохода', 
						date: '00 окт 20', 
						time: '~ 1 мин'
					},{
						mod: 'hor_m_pic',
						picture: true,
						class: 'post__img',
						customClass: 'post__img_in',
						png: true,
						img: 'post_1_s',						
						chapter_mod: 'purple', 
						chapter: 'Ритейл и eCommerce',
						author: 'Пётр Ванькин',
						title_size: 's',
						title: 'Используя Alteryx, компания Coca-Cola снизила расходы на 60%', 
						date: '00 окт 20', 
						time: '~ 1 мин'
					},{
						mod: 's',
						chapter_mod: 'purple', 
						chapter: 'Ритейл и eCommerce',
						chapter_icon: true,
						title_size: 's',
						title: 'MakeMyTrip использует цифровые платформы, способствующие более широкому распространению электронной коммерции', 
						date: '00 окт 20', 
						time: '~ 1 мин'
					},{
						mod: 's',
						chapter_mod: 'navy_blue', 
						chapter: 'Страхование',
						chapter_icon: true,
						title_size: 's',
						title: 'Страховая компания Kotak Life Insurance использует интеллектуальные алгоритмы для проверки статуса клиента', 
						date: '00 окт 20', 
						time: '~ 1 мин'
					},{
						mod: 'hor_m_pic',
						picture: true,
						class: 'post__img',
						customClass: 'post__img_in',
						png: true,
						img: 'post_2_s',						
						chapter_mod: 'purple', 
						chapter: 'Государственный сектор',
						author: 'Владимир Мищенко',
						title_size: 's',
						title: 'Кибербезопасность и стабильность сети от WatchGuard для защиты данных и оптимизации бизнес-процессов', 
						date: '00 окт 20', 
						time: '~ 1 мин'
					},{
						mod: 'vert_m_text',
						chapter_mod: 'purple', 
						chapter: 'Ритейл/еCommerce',
						author: 'Аполлинарий Космодемьянский', 
						title_size: 'm',
						title: 'Citi ежегодно тратит на технологии более 8 млрд. дол., являясь лидером в области цифровых решений в сфере банкинга',
						date: '00 окт 20', 
						time: '~ 1 мин'
					},{
						mod: 'l_text',
						chapter_mod: 'purple', 
						chapter: 'Транспорт и логистика',
						author: 'Артём Голоскевич', 
						title_size: 'l',
						title: 'Логистическая компания Yusen Logistics применяет Alteryx для составления аналитических отчётов',
						descr: 'Платформа стала профессиональным инструментом для процесса ETL. На основании полученных данных бизнес-аналитики компании смогли извлекать требуемую информацию, проводить бизнес-ориентированный анализ и формировать отчёты для финансового отдела',
						date: '00 окт 20', 
						time: '~ 6 мин'
					},{
						mod: 'hor_m_pic',
						picture: true,
						class: 'post__img',
						customClass: 'post__img_in',
						png: true,
						img: 'post_3_s',
						chapter_mod: 'green', 
						chapter: 'Банки',
						author: 'Денис Полищук',
						title_size: 's',
						title: 'AI и ML от Dataiku в банковском деле для безопасности и эффективного управления данными', 
						date: '00 окт 20', 
						time: '~ 1 мин'
					},{
						mod: 'hor_m_text',
						chapter_mod: 'purple', 
						chapter: 'Телекоммуникации',
						chapter_icon: true,						
						title_size: 'm',
						title: 'China Unicom применяет аналитику больших данных и Nokia Predictive Care для выявления аномалий в пакетном ядре', 
						date: '00 окт 20', 
						time: '~ 6 мин'
					},{
						mod: 'vert_m_pic',
						picture: true,
						class: 'post__img',
						customClass: 'post__img_in',
						png: true,
						img: 'post_4_s',						
						chapter_mod: 'blue', 
						chapter: 'Государственный сектор',
						author: 'Артем Голоскевич',
						title_size: 's',
						title: 'Smart Farming от Alteryx для цифрового преобразования и развития сельского хозяйства', 
						date: '00 окт 20', 
						time: '~ 1 мин'
					},{
						mod: 'vert_m_pic',
						picture: true,
						class: 'post__img',
						customClass: 'post__img_in',
						png: true,
						img: 'post_5_s',						
						chapter_mod: 'green', 
						chapter: 'Банки',
						author: 'Пётр Ванькин',
						title_size: 's',
						title: 'Western Union защищает финансовые сделки на AWS, используя CloudGuard Dome9 от Check Point', 
						date: '00 окт 20', 
						time: '~ 1 мин'
					},{
						mod: 'vert_m_pic',
						picture: true,
						class: 'post__img',
						customClass: 'post__img_in',
						png: true,
						img: 'post_6_s',						
						chapter_mod: 'orange', 
						chapter: 'Транспорт и логистика',
						author: 'Владимир Мищенко',
						title_size: 's',
						title: 'Поставщик технологических логистических решений Aramex применяет MobiControl для контроля активов', 
						date: '00 окт 20', 
						time: '~ 1 мин'
					},{
						mod: 'hor_m_text',
						chapter_mod: 'green', 
						chapter: 'Банки',
						chapter_icon: true,						
						title_size: 's',
						title: 'Новейшая интеллектуальная защита корпоративных данных от Bitdefender для Patria Bank',
						descr: 'Решение является одним из лучших на рынке для обеспечения ИТ-безопасности и эффективной борьбы с киберпреступностью', 
						date: '00 окт 20', 
						time: '~ 6 мин'
					},{
						mod: 'hor_m_text',
						chapter_mod: 'orange', 
						chapter: 'Телекоммуникации',
						chapter_icon: true,						
						title_size: 'm',
						title: 'Метрополитен Лос-Анджелеса использует TAP-браслеты для валидации пассажиров', 
						date: '00 окт 20', 
						time: '~ 6 мин'
					},{
						mod: 'l_pic',
						picture: true,
						class: 'post__img',
						customClass: 'post__img_in',
						png: true,
						img: 'post_1_l',
						chapter_mod: 'bg_blue',
						author: 'Владимир Мищенко', 
						chapter: 'Государственный сектор',
						title_size: 's',
						title: 'Логистическая компания Yusen Logistics применяет Alteryx для составления аналитических отчётов',
						descr: 'Платформа стала профессиональным инструментом для процесса ETL. На основании полученных данных бизнес-аналитики компании смогли извлекать требуемую информацию, проводить бизнес-ориентированный анализ и формировать отчёты для финансового отдела', 
						date: '00 окт 2020', 
						time: '~ 6 мин'
					},{
						mod: 's',
						chapter_mod: 'navy_blue', 
						chapter: 'Государственный сектор',
						chapter_icon: true,
						title_size: 's',
						title: 'PPG Industries использует прогнозную аналитику для поддержания промышленных активов в функциональном состоя', 
						date: '00 окт 20', 
						time: '~ 1 мин'
					},{
						mod: 'hor_m_text',
						chapter_mod: 'green', 
						chapter: 'Банки',
						chapter_icon: true,
						title_size: 'm',
						title: 'Инвестиционная компания Franklin Templeton Investments применяет решение о данных от Fractal', 
						date: '00 окт 20', 
						time: '~ 6 мин'
					},{
						mod: 's',
						chapter_mod: 'navy_blue', 
						chapter: 'Страхование',
						chapter_icon: true,
						title_size: 's',
						title: 'Страховая компания Kotak Life Insurance использует интеллектуальные алгоритмы для проверки статуса клиента', 
						date: '00 окт 20', 
						time: '~ 1 мин'
					},{
						mod: 'hor_m_text',
						chapter_mod: 'navy_blue', 
						chapter: 'Ритейл и eCommerce',
						author: 'Денис Полищук',						
						title_size: 's',
						title: 'PepsiCo повысила скорость составления отчётов о продажах на 90%',
						descr: 'ПО сочетает обработку естественного языка, методологию синтаксического анализа неструктурированного текста и специальное ПО под базы данных для определения атрибутов платежа. Решение приводит к прогнозируемой ежегодной экономии в размере 6 млн. долл. в виде затрат на обработку и доработку вручную', 
						date: '00 окт 20', 
						time: '~ 6 мин'
					},{
						mod: 'vert_m_text',
						chapter_mod: 'green', 
						chapter: 'Телекоммуникации',
						author: ' Пётр Ванькин', 
						title_size: 's',
						title: 'Обеспечение максимальной защиты данных от Forcepoint для безопасности работы всего предприятия',
						descr: 'Решение помогает избежать угроз нарушения сохранности конфиденциальной информации и управлять данными в режиме реального времени', 
						date: '00 окт 20', 
						time: '~ 1 мин'
					},{
						mod: 'vert_m_text',
						chapter_mod: 'blue', 
						chapter: 'Здравоохранение',
						author: 'Аполлинарий Космодемьянский', 
						title_size: 'm',
						title: 'Goldman Sachs проводит цифровую трансформацию с помощью приложений на базе машинного обучения',
						date: '00 окт 20', 
						time: '~ 1 мин'
					},{
						mod: 'vert_m_text',
						chapter_mod: 'blue', 
						chapter: 'Банки',
						author: 'Аполлинарий Космодемьянский', 
						title_size: 'm',
						title: 'Служба внутренних доходов США применяет аналитику данных для борьбы с мошенничеством',
						date: '00 окт 20', 
						time: '~ 1 мин'
					},{
						mod: 'hor_m_text',
						chapter_mod: 'blue', 
						chapter: 'Государственный сектор',
						author: 'Владимир Мищенко',						
						title_size: 's',
						title: 'Western Union защищает финансовые сделки на AWS, используя CloudGuard Dome9 от Check Point',
						descr: 'Dome9 – это комплексная программная платформа для обеспечения безопасности и согласования общедоступных облаков. Используя Dome9, компания оценивает свой уровень безопасности, защищает пользователей от кражи личной информации и потери данных в облаке', 
						date: '00 окт 20', 
						time: '~ 6 мин'
					}]
			each item in list			
				li(class=`post__item post__item--${item.mod}`)
					if item.picture
						.post__img_wrap
							+picture(item)
					+content(item)
						
