.contact {
}
.contact__text {
	font-size: 1.2rem;
	margin-bottom: 1rem;
	color: $white;
}
.contact__feadback {
}
.contact__feadback_text {
	margin-bottom: 1rem;
	font-size: 1.4rem;
	color: $white;
}
.contact__form {
	display: flex;
	align-items: flex-start;

	@include bp($point_1, min) {
		justify-content: space-between;

	}
	@media (min-width: $point_4) and (max-width: $point_1 - 1) {
		justify-content: flex-start;
	}
}