.contact {
}
.contact__text {
	font-size: 1.2rem;
	margin-bottom: 1rem;
	color: $white;
}
.contact__feadback {
}
.contact__feadback_text {
	margin-bottom: 1rem;
	font-size: 1.4rem;
	color: $white;
}
.contact__form {
	display: flex;
	justify-content: space-between;
}