.form_input {
	@include bp($point_1, min) {
		width: 48%;
	}
	@include bp($point_1 - 1) {
		width: 32rem;
		margin: 0 2rem 1rem 0;
	}
}

.form_input__label {
	position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.form_input__field {
	border-color: $white;

	&:focus {
		border-color: $white;
	}
}

.form_input__element {
	color: $white;

	background-color: rgba(255, 255, 255, 0.37);

	&::placeholder {
		color: $white;
	}	
}