.social_list {
	display: flex;
		flex-wrap: wrap;
	margin: 0 -2rem -2rem 0;
	@include bp($point_1, min) {
		
	}
}
.social_list__item {
	width: 2rem;
	height: 2rem;

	padding: 0 3rem 2rem 0;

	box-sizing: content-box;
}
.social_list__link {
	position: relative;
	transition: .3s ease;

	&:hover,
	&:focus {
		text-decoration: none;
		color: $color-bg;
	}
	@include bp($point_1, min) {
		color: $color-light;
	}
	@include bp($point_1 - 1) {
		color: $white;
	}
}
.social_list--footer {
	.social_list__link {
		color: $white;

		&:hover,
		&:focus {
			text-decoration: none;
			color: $color-light;
		}
	}
}