.footer {
	width: 100%;
	min-height: var(--height-footer);
	flex: 0 0 auto;

	font-size: 1rem;

	will-change: transform;
	background-color: $color-bg;

	@include bp($page_width, min) {
		padding: 2.5rem 14.5rem 7rem;
	}

	@media (min-width: $point_1) and (max-width: $page_width) {
		padding: 2rem 10rem;
	}

	@include bp($point_1 - 1) {
		padding: 2rem 3rem;
	}
}
.footer__in {
	display: grid;
	align-content: start;

	max-width: 144rem;
	margin: 0 auto;

	@include bp($point_1, min) {
		grid-template-columns: auto auto auto 38%;
		column-gap: 5.7rem;
	}
	@media (min-width: $point_4) and (max-width: $point_1 - 1) {
		grid-template-columns: auto auto auto;
		column-gap: 4rem;	
	}
	@include bp($point_4 - 1) {
		grid-template-columns: 1fr 1fr;
		column-gap: 3rem;
	}
}
.footer__wrap {
	@extend %global_flex_block_column_wrap_space_between;

	margin-bottom: 4rem;

	@include bp($point_4 - 1) {
		// grid-template-columns: 1fr 1fr;
	}
}
.footer__logo {
}
.footer__social {
}
.footer__text {
	margin-bottom: 1rem;
	padding-bottom: .5rem;
	font-size: 1.4rem;

	color: $white;
	text-transform: uppercase;
	border-bottom: 1px solid rgba(255, 255, 255, .5);
}
.footer__text--dec {
	border: none;
	padding-bottom: 0;
}
.footer__about {
	@include bp($point_4 - 1) {
		grid-column: 1 / 2;
	}
}

.footer__solutions {
	@include bp($point_4 - 1) {
		grid-column: 2 / 3;
	}
}

.footer__contact {
	@media (min-width: $point_4) and (max-width: $point_1 - 1) {
		grid-column: span 3;
	}
	@include bp($point_4 - 1) {
		grid-column: span 2;
	}
}
.footer__wrap_bottom {
	
}
.footer__copyright {

}
.footer__copyright_link {
	font-size: 1.2rem;
	line-height: 2.7rem;
	color: $white;
	transition: .3s ease;
	
	&:hover,
	&:focus {
		text-decoration: none;
		color: $color-light;
	}
}